body.dark-mode {
  background-color: #333;
  color: #fff;
}

.emoji-btn {
  text-align: center;
  cursor: pointer;
}

.title {
  text-align: center;
}

.dark-mode-btn:hover {
  cursor: pointer;
}

.user-post-card {
  border: 2px solid whitesmoke;
  border-radius: 4px;
  padding: 1rem;
}

.post-emoji {
  font-size: 3rem;
}

body {
  font-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 4rem;
}

.logo-text {
  font-family: 'Sacramento', cursive;
  font-weight: 600;
}
