.border-red {
  border: 3px solid red;
}
.border-green {
  border: 3px solid green;
}
.border-blue {
  border: 3px solid blue;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 1200px;
}
.page-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
