@tailwind utilities;

@layer utilities {
  .border-red {
    @apply border-2 border-red-600;
  }
  .border-green {
    @apply border-2 border-green-600;
  }
  .border-blue {
    @apply border-2 border-blue-600;
  }
  .page-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-col-1 {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}
